<h1>BART Buddy</h1>

<%= form_for :trip, url: trains_path do |f| %>
  <p>
    <%= f.label :start_station, "Starting Station" %><br>
    <%= f.select(:start_station, options_for_select(
      [
        ["12th St. Oakland City Center", "12th" ],
        ["16th St. Mission (SF)", "16th"],
        ["19th St. Oakland", "19th"],
        ["24th St. Mission (SF)", "24th"],
        ["Ashby (Berkeley)", "ashb"],
        ["Balboa Park (SF)", "balb"],
        ["Bay Fair (San Leandro)", "bayf"],
        ["Castro Valley", "cast"],
        ["Civic Center (SF)", "civc"],
        ["Coliseum", "cols"],
        ["Colma", "colm"],
        ["Concord", "conc"],
        ["Daly City", "daly"],
        ["Downtown Berkeley", "dbrk"],
        ["Dublin/Pleasanton", "dubl"],
        ["El Cerrito del Norte", "deln"],
        ["El Cerrito Plaza", "plza"],
        ["Embarcadero (SF)", "embr"],
        ["Fremont", "frmt"],
        ["Fruitvale (Oakland)", "ftvl"],
        ["Glen Park (SF)", "glen"],
        ["Hayward", "hayw"],
        ["Lafayette", "lafy"],
        ["Lake Merritt (Oakland)", "lake"],
        ["MacArthur (Oakland)", "mcar"],
        ["Millbrae", "mlbr"],
        ["Montgomery St. (SF)", "mont"],
        ["North Berkeley", "nbrk"],
        ["North Concord/Martinez", "ncon"],
        ["Oakland Int'l Airport", "oakl"],
        ["Orinda", "orin"],
        ["Pittsburg/Bay Point", "pitt"],
        ["Pleasant Hill", "phil"],
        ["Powell St. (SF)", "powl"],
        ["Richmond", "rich"],
        ["Rockridge (Oakland)", "rock"],
        ["San Bruno", "sbrn"],
        ["San Francisco Int'l Airport", "sfia"],
        ["San Leandro", "sanl"],
        ["South Hayward", "shay"],
        ["South San Francisco", "ssan"],
        ["Union City", "ucty"],
        ["Walnut Creek", "wcrk"],
        ["West Dublin", "wdub"],
        ["West Oakland", "woak"]
      ]
      )
    ) %>
  </p>

  <p>
    <%= f.label :direction, "Direction" %><br>
    <%= f.select(:direction, options_for_select(
      [
        ["Daly City", "daly" ],
        ["Dublin/Pleasanton", "dubl"],
        ["Fremont", "frmt"],
        ["Millbrae", "mlbr"],
        ["Pittsburg/Bay Point", "pitt"],
        ["Richmond", "rich"]
      ]
      )
    ) %>
  </p>

  <p>
    <%= f.submit "See Trains" %>
  </p>
<% end %>


<!--
Starting Station:
<select>
	<option selected disabled>Starting Station</option>
  <option value="12th">12th St. Oakland City Center</option>
  <option value="16th">16th St. Mission (SF)</option>
  <option value="19th">19th St. Oakland</option>
  <option value="24th">24th St. Mission (SF)</option>
  <option value="ashb">Ashby (Berkeley)</option>
  <option value="balb">Balboa Park (SF)</option>
  <option value="bayf">Bay Fair (San Leandro)</option>
  <option value="cast">Castro Valley</option>
  <option value="civc">Civic Center (SF)</option>
  <option value="cols">Coliseum</option>
  <option value="colm">Colma</option>
  <option value="conc">Concord</option>
  <option value="daly">Daly City</option>
  <option value="dbrk">Downtown Berkeley</option>
  <option value="dubl">Dublin/Pleasanton</option>
  <option value="deln">El Cerrito del Norte</option>
  <option value="plza">El Cerrito Plaza</option>
  <option value="embr">Embarcadero (SF)</option>
  <option value="frmt">Fremont</option>
  <option value="ftvl">Fruitvale (Oakland)</option>
  <option value="glen">Glen Park (SF)</option>
  <option value="hayw">Hayward</option>
  <option value="lafy">Lafayette</option>
  <option value="lake">Lake Merritt (Oakland)</option>
  <option value="mcar">MacArthur (Oakland)</option>
  <option value="mlbr">Millbrae</option>
  <option value="mont">Montgomery St. (SF)</option>
  <option value="nbrk">North Berkeley</option>
  <option value="ncon">North Concord/Martinez</option>
  <option value="oakl">Oakland Int'l Airport</option>
  <option value="orin">Orinda</option>
  <option value="pitt">Pittsburg/Bay Point</option>
  <option value="phil">Pleasant Hill</option>
  <option value="powl">Powell St. (SF)</option>
  <option value="rich">Richmond</option>
  <option value="rock">Rockridge (Oakland)</option>
  <option value="sbrn">San Bruno</option>
  <option value="sfia">San Francisco Int'l Airport</option>
  <option value="sanl">San Leandro</option>
  <option value="shay">South Hayward</option>
  <option value="ssan">South San Francisco</option>
  <option value="ucty">Union City</option>
  <option value="wcrk">Walnut Creek</option>
  <option value="wdub">West Dublin</option>
  <option value="woak">West Oakland</option>
</select>

Ending Station:
<select>
	<option selected disabled>Ending Station</option>
  <option value="12th">12th St. Oakland City Center</option>
  <option value="16th">16th St. Mission (SF)</option>
  <option value="19th">19th St. Oakland</option>
  <option value="24th">24th St. Mission (SF)</option>
  <option value="ashb">Ashby (Berkeley)</option>
  <option value="balb">Balboa Park (SF)</option>
  <option value="bayf">Bay Fair (San Leandro)</option>
  <option value="cast">Castro Valley</option>
  <option value="civc">Civic Center (SF)</option>
  <option value="cols">Coliseum</option>
  <option value="colm">Colma</option>
  <option value="conc">Concord</option>
  <option value="daly">Daly City</option>
  <option value="dbrk">Downtown Berkeley</option>
  <option value="dubl">Dublin/Pleasanton</option>
  <option value="deln">El Cerrito del Norte</option>
  <option value="plza">El Cerrito Plaza</option>
  <option value="embr">Embarcadero (SF)</option>
  <option value="frmt">Fremont</option>
  <option value="ftvl">Fruitvale (Oakland)</option>
  <option value="glen">Glen Park (SF)</option>
  <option value="hayw">Hayward</option>
  <option value="lafy">Lafayette</option>
  <option value="lake">Lake Merritt (Oakland)</option>
  <option value="mcar">MacArthur (Oakland)</option>
  <option value="mlbr">Millbrae</option>
  <option value="mont">Montgomery St. (SF)</option>
  <option value="nbrk">North Berkeley</option>
  <option value="ncon">North Concord/Martinez</option>
  <option value="oakl">Oakland Int'l Airport</option>
  <option value="orin">Orinda</option>
  <option value="pitt">Pittsburg/Bay Point</option>
  <option value="phil">Pleasant Hill</option>
  <option value="powl">Powell St. (SF)</option>
  <option value="rich">Richmond</option>
  <option value="rock">Rockridge (Oakland)</option>
  <option value="sbrn">San Bruno</option>
  <option value="sfia">San Francisco Int'l Airport</option>
  <option value="sanl">San Leandro</option>
  <option value="shay">South Hayward</option>
  <option value="ssan">South San Francisco</option>
  <option value="ucty">Union City</option>
  <option value="wcrk">Walnut Creek</option>
  <option value="wdub">West Dublin</option>
  <option value="woak">West Oakland</option>
</select>

<input type="submit" value="Submit">
-->