<!DOCTYPE html>
<html>
<head>
  <title>BART Buddy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<% if user_signed_in? %>
	<%= link_to "Profile", edit_user_registration_path %> |
	<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
  <!-- Added ":method => :delete" after reading this Stack Overflow thread:
  http://stackoverflow.com/questions/6557311/no-route-matches-users-sign-out-devise-rails-3 -->
	<p>You are logged in as <%= current_user.email %></p>
<% else %>
	<%= link_to "Log in", user_session_path %> |
	<%= link_to "Sign up", new_user_registration_path %>
<% end %>

<h3>BART Buddy</h3>

<%= yield %>

</body>
</html>
